In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
employee_df = pd.read_csv('train_data.csv')

In [5]:
employee_df.head(3)

,Unnamed: 0,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobRole,MaritalStatus,...,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,40,Travel_Rarely,Research & Development,2,3,Medical,Male,Research Director,Single,...,3.0,15,8,1,15.0,3,5,1,0,1
1,1,31,Travel_Rarely,Research & Development,28,4,Technical Degree,Female,Sales Executive,Married,...,1.0,11,8,0,10.0,4,10,0,2,0
2,2,35,Travel_Frequently,Research & Development,3,3,Medical,Female,Laboratory Technician,Married,...,1.0,11,8,1,2.0,2,2,2,2,0

In [9]:
employee_df.describe()

,Unnamed: 0,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
count,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000,2194.000000,2205.000000,2205.0,2205.000000,2199.000000,2205.000000,2205.000000,2205.000000,2205.000000,2205.000000
mean,1102.000000,36.669841,9.409524,2.895692,65151.972789,2.648587,15.209524,8.0,0.822222,11.224193,2.798186,7.078005,2.225397,4.156463,0.161451
std,636.672993,9.078445,8.134342,1.046125,47711.864224,2.490846,3.638322,0.0,0.874708,7.896927,1.313616,6.258446,3.312585,3.606622,0.368030
min,0.000000,18.000000,1.000000,1.000000,10510.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,551.000000,30.000000,2.000000,2.000000,28750.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000,0.000000
50%,1102.000000,35.000000,7.000000,3.000000,48770.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000,0.000000
75%,1653.000000,42.000000,15.000000,4.000000,83460.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,10.000000,3.000000,7.000000,0.000000
max,2204.000000,60.000000,29.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000,1.000000

In [10]:
employee_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,2205.0,1102.000000,636.672993,0.0,551.0,1102.0,1653.0,2204.0
Age,2205.0,36.669841,9.078445,18.0,30.0,35.0,42.0,60.0
DistanceFromHome,2205.0,9.409524,8.134342,1.0,2.0,7.0,15.0,29.0
Education,2205.0,2.895692,1.046125,1.0,2.0,3.0,4.0,5.0
MonthlyIncome,2205.0,65151.972789,47711.864224,10510.0,28750.0,48770.0,83460.0,199990.0
NumCompaniesWorked,2194.0,2.648587,2.490846,0.0,1.0,2.0,4.0,9.0
PercentSalaryHike,2205.0,15.209524,3.638322,11.0,12.0,14.0,18.0,25.0
StandardHours,2205.0,8.000000,0.000000,8.0,8.0,8.0,8.0,8.0
StockOptionLevel,2205.0,0.822222,0.874708,0.0,0.0,1.0,1.0,3.0
TotalWorkingYears,2199.0,11.224193,7.896927,0.0,6.0,10.0,15.0,40.0
TrainingTimesLastYear,2205.0,2.798186,1.313616,0.0,2.0,3.0,3.0,6.0
YearsAtCompany,2205.0,7.078005,6.258446,0.0,3.0,5.0,10.0,40.0
YearsSinceLastPromotion,2205.0,2.225397,3.312585,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,2205.0,4.156463,3.606622,0.0,2.0,3.0,7.0,17.0
Attrition,2205.0,0.161451,0.368030,0.0,0.0,0.0,0.0,1.0

(2205, 21)